html
h1 SISTEMAS DE INFORMACIÓN NO ESTRUCTURADA
h2 Práctica: Implementación BM25. Alumno: Mario Pierre-Louis
   form(action='/', method='POST')
      h3
         | Introduce los términos de búsqueda: 
         input(type='text', name='query')
      input(type='submit', value='Buscar')      